/* write your override styles here */
#wall .tag-1 {
  display: none;
}

div#wall #tag-2 {
  display: none;
}

div#tag-3.slick {
  display: none;
}

.parent {
  display: none;
}

#wall .tag-1 {
  display: none;
}

div#wall #tag-2 {
  display: none;
}


.parent {
  display: none;
}
